@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", system-ui;
  --font-winky: "Winky Sans", system-ui;

  --shadow-dark: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  cursor: pointer;
}
